@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap');




*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Alegreya Sans';
    color: white;
    /* background-color: #06141b; */
}


body{
    background-color: #060A0D;
}

.main_hdr h1{
    font-size: 60px;

}

.main_btns {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

#item_1{
    width: 25%;
    background: rgba(99,38,12,1);
    background: linear-gradient(298deg, rgba(99,38,12,1) 16%, #232122 72%);
    border-radius: 10px;
    padding: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#item_2{
    width: 25%;
    background: rgb(255,196,70);
    background: linear-gradient(298deg, rgba(255,196,70,1) 16%, rgba(99,38,12,1) 72%);
    border-radius: 10px;
    padding: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#item_3{
    width: 25%;
    background: rgba(99,38,12,1);
    background: linear-gradient(298deg, rgba(99,38,12,1) 15%, rgba(255,196,70,1) 88%);
    border-radius: 10px;
    padding: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}


.info_block{
    background: linear-gradient(#ffffff, #000000);
    width: 94%;
    border-bottom: 4px solid transparent;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
    cursor:default;
    margin-top: 3%;
    padding: 1% 1%;
}

.main_btns .item .icon{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    align-items: center;
    justify-content: center;
}


.main_btns .item .icon i{
    font-size: 30px;
}