@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Alegreya Sans';
    color: white;
    /* background-color: #06141b; */
}

/* h1 {
    color: white;
} */
body{
    background-color: #060A0D;
}


.img1 {
    background-image: url("background.png");
    background-size: no-repeat;
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.bio h2{
    margin-top: 200px;
    text-align: center;
    font-family: 'Urbanist';
    font-size: 500%;
}

.helpu h1{
    margin-top: 15px;
    text-align: center;
    color: #AEA7A3;
    font-family: 'Urbanist';
}

.main_hdr h2{
    font-family: 'Righteous';
    font-size: 300%;
    margin-left: 2%;
}


.main_btns {
    display: flex;
    margin-top: 350px;
    gap: 8%;
}

.main_btns #item_1{
    width: 26%;
    background: #33241C;
    background: linear-gradient(298deg, #33241C 16%, #110C09 72%);
    border-radius: 10px;
    padding: 32px;
    margin-left: 3%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.main_btns #item_2{
    width: 26%;
    background: #110C09;
    background: linear-gradient(298deg, #110C09 16%, #33241C 72%);
    border-radius: 10px;
    padding: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.main_btns #item_3{
    width: 26%;
    background: #33241C;
    background: linear-gradient(298deg, #33241C 15%, #110C09 88%);
    border-radius: 10px;
    padding: 32px;
    margin-right: 3%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}


#info_block{
    background: linear-gradient(#ffffff, #000000);
    width: 94%;
    border-bottom: 4px solid transparent;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
    cursor:default;
    margin-top: 3%;
    padding: 1% 1%;
}

.main_btns .icon{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    align-items: center;
    justify-content: center;
}


.main_btns .icon i{
    font-size: 30px;
}

/*  CREATE PORTFOLIO PAGE */
#crea input{
    color: black;
}
/* PORTFOLIOS PAGE */
.port {
    padding: 1%;
    margin-left: 2%;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    height: 15vh;
    display: flex;
    color: black;
    margin-bottom: 5%;
}


.main-info {
    font-size: xx-large;
    width: 80%;
    height: 100%;
    color: black;
    /* background-color: brown; */
}
.main-info div div p {
    margin: 0px;
    /* color: aqua; */
}

.other-info {
    width: 20%;
    height: 100%;
    background-color: cornflowerblue;
}
.occupation {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: start;
    text-align: left;
}
.occupation p {
    color: black;
}
.salary {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    text-align: left;
}
.salary p {
    color: black;
}
.act {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    /* display: flex;
    align-items: flex-end;
    text-align: left; */
    /* height: 33.3%; */
}
.button {
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    background-color: rgb(223, 223, 223);
}

.edit p{
    color: blue;
}

.button:hover {
    background-color: rgb(190, 190, 190);
}
#deleteAll {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 1%;
    margin-left: 2%;
    background-color: rgb(167, 21, 21);
    border-radius: 10px;
    width: 20%;
    height: 5vh;
    display: flex;
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
}
#deleteAll:hover {
    background-color: red;
}