@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2';
}

body{
    display: flex;
}

.side-nav{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container{
    flex:6;
    padding: 10px 40px 20px 24px;
}

.side-nav .upper-icons{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 10px 0px; 
}

.side-nav .filters{
    position: sticky;
    top: 0;
    background-color: #181C20;
    height: 100vh;
    border-radius: 10px / 0px 10px 0px 0px;
}

.side-nav .filters{
    color: #adadad;
    padding: 10px 10px;
    gap: 20px;
}

.side-nav .upper-icons p i{
    font-size: 30px;
}
.side-nav .upper-icons .active{
    color: #80A416;
    border-bottom: solid #80A416;
}

.container .upper-nav{
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container .upper-nav .search{
    background-color: #181C20;
    align-items: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    display: flex;
}
.container .upper-nav .search input{
    width: 100%;
    border: none;
    outline: none;
    color: #f2f2f2;
    background: none;
}

.container .upper-nav .search i{
    color: #adadad;
    cursor: pointer;
}

.container .upper-nav .bio{
    display: flex;
    gap: 10px;
    background-color: #181C20;
    padding: 10px;
    border-radius: 10px;
}

.container .upper-nav .bio .pers-info{
    text-align: left;
    color: #f2f2f2;
    padding: 5px 0px 0px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container .upper-nav .bio .pers-info a{
    color: #f2f2f2;
    text-decoration: none;
}

.container .upper-nav .bio .portrait-img img{
    border-radius: 50%;
    width: 48px;
    cursor: pointer;
    height: 48px;
}

.container .upper-nav .bio a{
    font-size: 20px;
    color: black;
}

.container .main-filters{
    display: inline-flex;
}

.container .job-cards{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.container .job-cards .card {
    cursor: pointer;
    display: flex;
    height: 300px;
    width: 49%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container .job-cards .card:hover{
    box-shadow: 0 10px 30px #1C621B;
}

.container .job-cards .card .avatar{
    height: 100%;
}

.container .job-cards .card .avatar img{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px 0px 0px 10px;
}

.container .job-cards .card .info{
    padding-left: 10px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.container .job-cards .card .info div h5{
    font-size: 36px;
}

.container .job-cards .card .info div i{
    color: #85AF24;
    font-size: 30px;
}

.container .job-cards .card .info .titles a{
    color: #08652C;
    font-size: 28px;
    text-decoration: none;
}

.container .job-cards .card .info .titles span{
    color: #80A416;
}

.container .job-cards .card .info .card-tags {
    margin: 17px 0px;
}

.container .job-cards .card .info .card-tags a{
    text-decoration: none;
    color: #f2f2f2;
    border-radius: 15px;
    transition: all 0.3s ease;
    padding: 5px;
    background: linear-gradient(to right, #032820, #08652C, #80A416);
}

.container .job-cards .card .info .card-tags a:hover{
    box-shadow: 0 0px 20px #1D719D;
}

.container .job-cards .card .info .card-desc{
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: calc(24px*3);
}

.container .job-cards .card .info .btns{
    margin-top: 15px;
    transition: all 0.3s ease;
    margin-left: 35%;
}

.container .job-cards .card .info .btns button{
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: #4F772D;
    border: solid #4F772D;
}

.container .job-cards .card .info .btns button:hover{
    cursor: pointer;
}

.container .job-cards .card .info .portrait img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

.container .job-cards .card .projects-pics{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 15px;
    font-size: 32px;
}

.container .job-cards .card .projects-pics i{
    padding: 0px 20px;
    border: solid #181C20;
    border-radius: 10px;
}

.container .job-cards .card .projects-pics img{
    height: 50%;
    aspect-ratio: 2/1;
    border-radius: 15px;
}

.container .job-cards .card .info .send-req{
    display: flex;
    transition: all 0.3s ease;
    margin-left: 35%;
    margin-bottom: 10px;
}

.container .job-cards .card .info .send-req button{
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    color: #4F772D;
    border: solid #4F772D;
}

.container .job-cards .card .info .titles-sec a{
    color: #08652C;
    font-size: 28px;
    text-decoration: none;
}

.container .job-cards .card .info .titles-sec span{
    color: #80A416;
}

@media screen and (max-width: 1700px) {
    .container .job-cards .card{
        width: 100%;
    }
    .container .job-cards .card .info .titles{
        width: 100%;
    }
    .container .job-cards .card .info .card-tags{
        width: 100%;
    }
    .container .job-cards .card .info .send-req{
        margin-left: 30%;
    }
}