@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PT:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Alegreya Sans';
    color: white;
    /* background-color: #06141b; */
}

/* h1 {
    color: white;
} */
body{
    /* background-color: #060A0D; */
}


.img1 {
    background-image: url("../static/img/background.png");
    background-size: no-repeat;
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.bio h2{
    margin-top: 200px;
    text-align: center;
    font-family: 'Urbanist';
    font-size: 500%;
}

.helpu h1{
    margin-top: 15px;
    text-align: center;
    color: #AEA7A3;
    font-family: 'Urbanist';
}

.main_hdr h2{
    font-family: 'Righteous';
    font-size: 300%;
    margin: 0%;
    width: 15%;
    display: inline-block;
}


.main_btns {
    display: flex;
    margin-top: 350px;
    gap: 8%;
}

.main_btns #item_1{
    width: 26%;
    background: #0F171B;
    background: linear-gradient(298deg, #0F171B 16%, #122D39 72%);
    border-radius: 10px;
    padding: 32px;
    margin-left: 3%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.main_btns #item_2{
    width: 26%;
    background: #122D39;
    background: linear-gradient(298deg, #122D39 16%, #0F171B 72%);
    border-radius: 10px;
    padding: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.main_btns #item_3{
    width: 26%;
    background: #0F171B;
    background: linear-gradient(298deg, #0F171B 15%, #122D39 88%);
    border-radius: 10px;
    padding: 32px;
    margin-right: 3%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}


#info_block{
    width: 94%;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
    cursor:default;
    margin-top: 3%;
    padding: 1% 1%;
}

.main_btns .icon{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


.main_btns .icon i{
    font-size: 30px;
}
.main_hdr {
    display: flex;
    justify-content: flex-start;
    height: 7vh;
}
#authButton {
    /* height: 100%; */
    display: flex;
    margin-left:78%;
    width: 7%;
    align-items: center;
    justify-content: center;
}
#authButton a {
    color: black;
    font-size: 18pt;
    text-decoration: none;
}
/*  CREATE PORTFOLIO PAGE */
#crea input{
    color: black;
}
